<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../views/partials/head'); %>
</head>

<body>

  <%- include('../views/partials/navbar'); %>
    <div class="container">
      <h1 class="text-center p-3">Reset Your Password</h1>
      <div
        style="margin: 0 auto"
        class="col-12 col-md-6 col-lg-5 p-5 customborder"
      >
        <% if(typeof reset !='undefined' ){ %> <% if( reset){ %> <% if(typeof
        err !='undefined' ){ %> <% if( err !="" ){ %>
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <%= err %>.
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %> <% } %>

        <!-- // render the form to reset password  -->
        <form action="/user/reset-password" , method="POST">
          <div class="mb-3">
            <label for="password">Enter New Password</label>
            <input
              type="password"
              class="form-control form-control-lg"
              name="password"
              id="password"
              autocomplete="off"
              placeholder="Password"
            />
          </div>
          <div class="mb-3">
            <label for="password">Confirm New Password</label>
            <input
              type="password"
              class="form-control form-control-lg"
              name="password2"
              id="password"
              autocomplete="off"
              placeholder="Password Again"
            />
          </div>
          <input type="hidden" name="email" value="<%= email %>" />
          <div class="d-grid gap-3 mb-3">
            <input
              type="submit"
              class="btn btn-lg btn-block btn-outline-success"
              value="Reset Password"
            />
          </div>
        </form>

        <% }else{ %> <% } %> <% }else{ %>

        <!-- // render the form to send reset link -->
        <% if(typeof msg !='undefined' ){ %> <% if( msg !="" ){ %>
        <div
          class="alert alert-<%= type %> alert-dismissible fade show"
          role="alert"
        >
          <%= msg %>.
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %> <% } %>

        <form action="/user/forgot-password" , method="POST">
          <div class="mb-3">
            <label for="email">Enter Your Email</label>
            <input
              type="email"
              class="form-control form-control-lg"
              name="email"
              id="email"
              autocomplete="off"
              placeholder="Email"
            />
          </div>

          <div class="d-grid gap-3 mb-3">
            <input
              type="submit"
              class="btn btn-lg btn-block btn-outline-success"
              value="Send Reset Link"
            />
          </div>
        </form>
        <% } %>
      </div>
    </div>

  <%- include('../views/partials/footer'); %> 
  </body>
</html>
